[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/emacs --fg-daemon
ExecStop=/usr/local/bin/emacsclient --eval "(kill-emacs)"
Environment=TERMINFO=/home/luser/gitgets/ghostty/zig-out/share/terminfo
Restart=on-failure

[Install]
WantedBy=graphical-session.target
